.navbar ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin-top: 0%;
  padding: 20px;
}

.navbar ul li {
  padding: 20px;
  cursor: pointer;
  color: white;
}

.nav-ham {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: none;
}

.sidebar {
  height: fit-content;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  display: block !important;
  background-color: #0b66f5;
  animation: opensidebar 0.3s linear;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.sidebar ul {
  display: block !important;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin-top: 0%;
  padding: 20px;
}

.sidebar li {
  padding: 20px;
  cursor: pointer;
  color: white;
}

@keyframes opensidebar {
  from {
    height: 0%;
  }
  to {
    height: 50%;
  }
}

.exit-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}
