.projects {
  max-width: 1100px;
  display: flex;
  padding: 50px;
  border-radius: 18px;
  background-color: rgba(240, 248, 255, 0.521);
  margin: 0 auto;
  margin-top: -200px;
}

.project-background-img {
  margin-right: 20px;
  width: 350px;
  height: 400px;
  border-radius: 18px;
  background-image: linear-gradient(to bottom left, #6cb1fe, #43b8fd, #5551e6);
}
.projects-list {
  width: 100%;
}

.projects-list ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
}
.projects-list ul li {
  padding: 10px 20px;
  background-image: linear-gradient(to right, #70a7fa, #065ae1);
  margin-bottom: 10px;
  display: flex;
  border-radius: 12px;
}
.projects-list ul li p {
  margin: auto;
}

.spec-icon {
  width: 40px;
  height: 40px;
  background-color: #065ae1;
  border-radius: 4px;
  padding: 3px;
  margin-right: 10px;
}
